.award {
	&__title {
		justify-content: space-between;
		padding: 5 20px;
		&-controls {
		}
		&-controls > button:not(:last-child) {
			margin-right: .5rem;
		}
	}
	&__image {
		& > img {
			max-width: 100%
		}
	}
}

.award__latest {
	position: relative;

	&-img {
		background: #ececec;
		display: block;
		height: 200px;
		width: 100%;
	}
	&-title {
		margin: 5px 0 15px 0;
	}
	&-list {
		border: none;
	}
}
