.comment {
    position: relative;
    &__new {
        & > .img-container {
            align-self: flex-start;
        }        
    }
    &__new-button {
        padding: .1rem .6rem;
    }
    &__new-input {
        flex: 1;
        border: 1px solid #bcbcbc;
        & > textarea {
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #cfcfcf;
            resize: none;
            width: 100%;
            overflow-y: hidden;
            display: block;
            padding: .3rem .6rem;
        }
    }
    & .upvoted {
        color: green;
    }
    & .downvoted {
        color: red;
    }
    &__footer {
        font-size: 1.15rem;
    }
    &-flash {
        animation: flash 1s;
        animation-iteration-count: 2;
    }
    @keyframes flash {
        0% {
            background: transparent;
        }

        50% {
            background: rgba(244, 167, 73, .3);
        }

        100% {
            background: transparent;
        }
    }
}
