.comment {
    &__new {
        & > .img-container {
            align-self: flex-start;
        }        
    }
    &__new-button {
        padding: .1rem .6rem;
    }
    &__new-input {
        flex: 1;
        border: 1px solid #bcbcbc;
        & > textarea {
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #cfcfcf;
            resize: none;
            width: 100%;
            overflow-y: hidden;
            display: block;
            padding: .3rem .6rem;
        }
    }
    & .upvoted {
        color: green;
    }
    & .downvoted {
        color: red;
    }
}
