.comment {
    &__new {
        & > img {
            align-self: flex-start;
        }        
    }
    &__new-input {
        flex: 1;
        border: 1px solid #bcbcbc;
        & > textarea {
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #cfcfcf;
            resize: none;
            width: 100%;
            padding: .3rem .6rem;
        }
    }
}
