// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "helpers";
@import "components/awards";
@import "components/tags";
@import "components/comments";

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

